@{
    string liStyle = GetLiStyle(QuestionOption);
    string disabled = IsLocked ? "disabled" : "";
}

<li class="mdc-list-item" style="@liStyle" @onclick="() => SelectOption()">
    <span>
        <input type="checkbox" class="mdc-radio" name="question-option" checked="@QuestionOption.IsSelected" disabled="@IsLocked" />
        <span class="mdc-typography--body1">
            @QuestionOption.Text
        </span>
    </span>
</li>

@code {
    [Parameter]
    public QuestionOption QuestionOption { get; set; }

    private const string GreenLiStyle = "background:#e8f5e9; border:2px solid #388e3c;";
    private const string RedLiStyle = "background:#ffebee; border:2px solid #d32f2f;";
    private const string DefaultLiStyle = "background:#fff; border:2px solid #e0e0e0;";

    [Parameter]
    public bool IsLocked { get; set; }

    [Parameter]
    public EventCallback<QuestionOption> OnCheckedChanged { get; set; }

    void SelectOption()
    {
        if (IsLocked)
        {
            return;
        }

        QuestionOption.IsSelected = !QuestionOption.IsSelected;
        OnCheckedChanged.InvokeAsync(QuestionOption);
        StateHasChanged();
    }

    string GetLiStyle(QuestionOption qo)
    {
        string liStyle = DefaultLiStyle;

        if (IsLocked)
        {
            if (qo.IsCorrect)
            {
                liStyle = GreenLiStyle;
            }
            else if (qo.IsSelected)
            {
                liStyle = RedLiStyle;
            }
        }

        return liStyle;
    }
}
